{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <div class="container2">
        <div><h2><center>Idea Template</center></h2></div><br>
        <form method="post" action="/idea_post" class="row g-3">
            <div class="col-12">
                <label for="inputTitle" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="inputTitle" placeholder="">
            </div>
            <div class="mb-3">
                <label for="inputSubtitle" class="form-label">Sub-title</label>
                <textarea class="form-control" name="subtitle" id="inputSubtitle" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <label for="inputDescription" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="inputDescription" rows="5"></textarea>
            </div>
            <div class="col-md-3">
            <label for="formFile" class="form-label">Upload</label>
            <input class="form-control" name="upload" type="file" id="formFile">
            </div>
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}




