{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="vh-100">
        <div class="container2">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../static/innovator.png"
                  class="img-fluid" alt="Sample image">
              </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h3>Are you an Innovator?</h3><br>
                <form class="row g-3" method="post">
                    <div class="col-6">
                        <label for="inputFirstname" class="form-label">First name</label>
                        <input type="text"  pattern="[A-Za-z]{1,13}"  name="firstname" class="form-control" id="inputFirstname" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="inputLastname" class="form-label">Last name</label>
                        <input type="text"  pattern="[A-Za-z]{1,13}"  name="lastname" class="form-control" id="inputLastname" placeholder="">
                    </div>
                    <div class="col-12">
                        <label for="inputEmail" class="form-label">Email id</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" class="form-control" id="inputPassword" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="inputMobileno" class="form-label">Mobile no</label>
                        <input type="tel"  pattern="[0-9]{3}[0-9]{3}[0-9]{4}"

                        required name="mobileno" class="form-control" id="inputMobileno" placeholder="">
                        
                    </div>
                    <div class="col-12">
                        <label for="inputQualification" class="form-label">Qualification</label>
                        <input type="text" name="qualification" class="form-control" id="inputQualification" placeholder="">
                    </div>
                    <div class="col-12">
                        <label for="inputLinkedin" class="form-label">Linkedin url</label>
                        <input type="url" name="linkedin" class="form-control" id="inputLinkedin" placeholder="">
                    </div>
                    <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            
          </div>
        </div>
      </section>
{% endblock %}