{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="vh-100">
        <div class="container2">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="../static/org.png"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h3>Are you an Organizations?</h3><br>
                <form class="row g-3" method="post">
                    
                    <div class="col-12">
                        <label for="inputEmail" class="form-label">Email id</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="inputMobileno" class="form-label">Mobile no</label>
                        <input type="tel" name="mobileno" class="form-control" id="inputMobileno" placeholder="">
                    </div>
                    <div class="col-12">
                        <label for="inputCompany" class="form-label">Company</label>
                        <input type="text" name="company" class="form-control" id="inputCompany" placeholder="">
                    </div>
                    <div class="col-12">
                        <label for="inputpancard" class="form-label">PAN Number</label>
                        <input type="number" name="pancard" class="form-control" id="inputCompany" placeholder="">
                    </div>

                    <div class="col-12">
                        <label for="inputLinkedin" class="form-label">Linkedin url</label>
                        <input type="url" name="linkedin" class="form-control" id="inputLinkedin" placeholder="">
                    </div>
                    <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </section>
{% endblock %}