{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="showblog"><br><br><br>

        {% for project in projects %}
        <form method="POST">
            <div class="card w-75">
                <div class="card-body">
                    <br><br>
                    <h5 class="card-title">{{project.title}}</h5>
                    <h2 class="card-title">{{project.author}}</h2>
                    <h2 class="card-title">{{project.date}}</h2>
                    
                    <p style="text-align:justify" class="card-text">{{project.description}}</p>
                    <a href="/increasecount/{{project.title}}" class="btn btn-primary"><i class="fa-solid fa-caret-up"></i> Upvote {{project.upvote}}</a>
                    
                    
                    
                        
                    
                    
                </div>
            </div><br>
            {% endfor %}
        </form>
    </section>
{% endblock %}
