{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="viewhalfideas"><br><br><br>
        <br><br>
        <a href="/sort" class="btn btn-primary"><i class="fa-solid fa-arrow-up-9-1"></i>Sort by upvotes</a>
        {% for project in projects %}
        <form method="POST"><br>
            <div class="card w-50">
                <div class="card-body">
                    <h3><a href="/viewideas/{{project.title}}" >{{project.title}}</a></h3> 
                    <h6 class="card-title">{{project.subtitle}}</h6>
                    <h6 class="card-title">{{project.date}}</h6>
                    <a href="#" class="btn btn-primary"><i class="fa-solid fa-caret-up"></i> {{project.upvotes}}</a>
                </div>
            </div>
            {% endfor %}
        </form>
    </section>
{% endblock %}
