{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="viewps"><br><br><br>
        <form action="/fileupload" method="POST" enctype = "multipart/form-data">
            <div class="card w-75">
                <div class="card-body">
                    <br><br>
                    <h1 class="card-title">{{projects.author}}</h1>
                    <h5 class="card-title">{{projects.date}}</h5>
                    <h2 class="card-title">{{projects.stmt}}</h2>        
                    <div style="width: 80%;  "> 
                        <p class="card-text">{{projects.description}}</p>
                    </div>
                </div>
            </div><br>
            <div class="mb-3">
                <label for="deadline" class="form-label">File Upload</label><br>
                <input type="file" id="file" name="uploadedfile">
                <!-- <input type="submit" value="Upload"> -->
            </div><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
{% endblock %}


