{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="viewblog"><br><br><br>
        <br><br>
        <form method="POST">
            <div class="row">
                {% for project in projects %}
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h3><a href="/showblog/{{project.title}}" >{{project.title}}</a></h3>          
                        <h6 class="card-title">{{project.author}}</h6>
                        <h6 class="card-title">{{project.date}}</h6> 
                        <a href="/blogcount/{{project.title}}" class="btn btn-primary"><i class="fa-solid fa-caret-up"></i>  {{project.likes}}</a>
                      </div>
                    </div>
                    <br>
                  </div>
                  <br><br>
                {% endfor %}
        </form>
    </section>
{% endblock %}
