{% include 'includes/_navbar.html' %}
{% include 'includes/_messages.html' %}
{% include 'layout.html' %}
{% block body %}
    <section class="viewps"><br><br><br>
       
            <div class="card w-75">
                
                <div class="card-body">

                    <br><br>
                    <h1 class="card-title">{{project.author}}</h1>
                    <h5 class="card-title">{{project.date}}</h5>
                    <h2 class="card-title">{{project.stmt}}</h2>
            
                    
                    <div style="width: 80%;  "> 
                        <p class="card-text">{{project.description}}</p>
                    </div>                
                    <div class="col-md-3">
                        <h6> Upload Solution</h6>
                        <form method="POST" action="http://127.0.0.1:5000/uploader" enctype="multipart/form-data">
                            <p><input type="file" name="file"></p>
                            <p><input type="submit" value="Submit"></p>
                         </form>     
                </div>
            </div><br>

    </section>
{% endblock %}
